.card-title {
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}

.about-shadow {
    box-shadow: 15px 0 15px -4px rgba(0, 0, 0, 0.8), -15px 0 8px -4px rgba(0, 0, 0, 0.8);
    border-radius: 25px;
}

.form-shadow {
    box-shadow: 5px 0 5px 0px rgba(0, 0, 0, 0.8), -5px 0 5px 0px rgba(0, 0, 0, 0.8);
    border-radius: 25px;
}

.form-font {
    font-weight: bold;
    text-decoration: underline;
    font-size: large;
}

.portrait {
    max-width: 100%;
    height: auto;
}

.my-text {
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
}

.fancy {
    font-family: 'Sedgwick Ave', cursive;
}

.header {
    text-decoration: none;
    font-weight: bold;
    font-size: large;
    padding: 10px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.about-bg {
    background-image: url('../assets/about-bg.png');
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
}

.error {
    color: red;
    font-weight: bold;
    margin: auto;
}